*{
    padding: 0;
    margin: 0;
}

table{
    width: 100%;
    border-collapse: collapse;
}
 
td{
    padding: 10px;;
    background-color: #ffffff;
    text-align: center;
    font-size: 1.5em;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.head{
    padding: 5px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    text-align: center;
    font-size: 1.5em;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #eaeaea;
    border-bottom: 1px solid black;
}

img{
    height: 200px;
    width: 150px;
}

button{
    height: 50px;
    width: 80%;
    padding: 3px;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 50px;
    background-color: #ffffff;
    transition: 2s;
}

button:hover{
    background-color: #eaeaea;
}

button i{
    margin-right: 5px;
}
